@charset "utf-8";
 body {
	padding: 0;
	margin: 0 auto;
	width: 100%;
    background-color: white;
}
.background{
	height: 100%;
	background: url(/image/background.jpg);
	background-size: 100% 100%;
}
.first{
	width: 500px;
	font-size: 15px;
	margin-left: 50px;
	margin-top: -10px;
	color:rgb(196, 190, 190);
	/* background-color: aliceblue; */
}
.first img{
	width: 40px;
	height: 40px;
	margin-top: 20px;
	margin-left: 20px;
}
.first h1{
	margin-left: 80px;
	margin-top: -45px;
}
.u2{
	width: 1088px;
    margin:0 auto;  
}

.m1{
	height: 60px;
	width: 100%;
	font-weight: bold;
	margin:0 auto;
    background-color: #3d3b3d;
	display: -webkit-box;
}
.m1 .menu{
	display: table-row;
	float: right;
	/* padding-left: 100px; */
	margin-left: 40px;
	/* background-color: antiquewhite; */
}
.m1 li {
	list-style: none;
    line-height: 20px;
}
.m1 .menu a{
	background-color: #3d3b3d;
	display: block;
	color: white;
	font: 17px;
	text-decoration: none;
}
.m1 .menu>li:hover a{
	color: rgb(228, 187, 146);
}
.menu>li:hover{
	background-color:  #3d3b3d;
}

.menu>li:hover .drop-menu{
    display:block;
}
.m1 .menu>li{
	position: relative;
	/* display: table-row; */
    display: inline-block;
    line-height: 30px;
    margin: 0 5px; 
    vertical-align: top;
	
}
.drop-menu{
    position:relative;
    display:none;
    padding: 5px 0px;
    margin: 0;
    width: 220px;
    left: 0;
    background-color: #3d3b3d;
    border: 1px solid rgb(175, 172, 172);
}
.drop-menu a{
    padding-left:10px;
    line-height: 30px;
    transition: all 0.5s ease;
}
.literature_menu{
	width:150px;
}
.menu .home{
	width: 75px;
}
.menu .literature{
	width: 100px;
}
.menu .festival{
   width: 90px;
}
.menu .costume{
	width: 100px;
 }
.menu .places{
   width: 90px;
}
.menu .contact{
   width:110px;
}


 /****************** content1*******************/
.content1{
    margin-left: 70px;
}
.content2{
    background-color: white;
    width: 1250px;
    margin-left: 70px;
}
.content2 h1{
    padding-top: 50px;
    text-align: center;
}
.content3{
    width: 950px;
    padding-left: 150px;
}
.content3 p{
line-height: 25px;
}
video{
    width: 700px;
    padding-left: 110px;
}
.img1{
    width: 800px;
    padding-left: 80px;
}
.img2{
    width: 600px;
    padding-left: 150px;
}
.content4{
    display: inline-block;
    margin-left: 150px;
    margin-top: 10px;
}
.content4 .word2{
    color: #3d3b3d;
    font-size: 13px;
    margin-left: 150px;
    margin-top: -40px;
}
.content5{
    margin-left: 110px;
    margin-top: 120px;
    padding-bottom: 30px;
}
.content5 a{
    text-decoration: none;
    color: black;
}
.content5 li{
    list-style: none;
}
.content5 a:hover{
    color: rgb(228, 187, 146);
}

 /****************** m8结尾*******************/
 .m8{
	background-color: #3d3b3d;
	width: 100%;
	margin: auto;
 }

 .m8,.u8{
	height: 200px;
}
.m8 .u8>ul{
	text-align: center;	
}
.m8 .u8>ul>li{
	display: inline-block;
	margin-top: 20px;
	width: 150px;
}
.u8>ul>li a{
	color: white;
	font-size: 17px;
	text-decoration: none;
	
}
.u8>ul>li a:hover{
	color: rgb(228, 187, 146);
}
.last{
	width: 100%;
	display: -webkit-box;
}

.final{
	width: 510px;
	font-size: 15px;
	color:rgb(196, 190, 190);
}
.final img{
	width: 40px;
	height: 40px;
	margin-top: 30px;
	margin-left: 50px;
}
.final h1{
	margin-left: 110px;
	margin-top: -45px;
}
.message{
	position: absolute;
	/* background-color: red; */
	display: inline-block;
	padding-top: 20px;
	margin-left: 600px;
	width: 500px;
}
.valid{
	margin-left: 300px;
}
.valid a{
   color:white;
}
.address a{
	font-size: 13px;
    color: rgb(215, 211, 211);
}
.phone-num{
    font-size: 13px;
    color: rgb(215, 211, 211);
}
.envelope a{
    font-size: 13px;
    color: rgb(215, 211, 211);
}
.phone-num:hover{
    color: black;
}
.envelope a:hover{
    color:black; 
}


