
@{
    ViewBag.Title = "Han";
}
@section css{
    <link rel="stylesheet" type="text/css" href="/static/han.css">

}
<div class="content1">
    <p>Your position: Home > Festival > Festival experience > Detail page</p>
</div>
<div class="content2">
    <h1>Traditional Festival of Han Nationality</h1>
    <hr class="line">

    <div class="content3">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There is no doubt that the Han nationality is a world-famous ethnic group in China.
            It has a long history, rich culture and wonderful cultural landscape.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Han nationality has many festivals, mainly Spring Festival, Tomb-sweeping day,
            Dragon Boat Festival, Lantern Festival, Mid-Autumn Festival and so on. The Spring Festival,
            also known as the Spring Festival, is a traditional festival of the Han people for thousands of years.
            It is also the grandest festival of the year. New Year's Day, New Year's Eve to Shousui, the first day to pay New Year
        </p>
        <h2>The Spring Festival</h2>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The custom of the Chinese Han people during the Spring Festival is to eat rice cakes, dumplings, glutinous rice cakes,
            glutinous rice balls, poached eggs, big meatballs, whole fish, wine, tangerine, apple, peanut, melon seeds, candy,
            fragrant tea and dishes.Before the New Year's Eve in Tianjin people have to the ancient culture street Qiao Xiangge
            please Chinese knot custom, take Qiao Xiangfu meaning; Wenzhou people have to go to their own religious prayer,
            hope to be able to enjoy happiness with their families in the New Year. Among them, most are Buddhism.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Before the festival to paste red paper on the door of the residence yellow characters of the New Year message, that is,
            written with red paper Spring couplets.House posted colorful auspicious New Year pictures, xinlingshouqiao girls cut
            out a beautiful window on the window, the door hang red lanterns or stick to everyone, and the god of wealth,
            the goalkeeper (doors, qin shubao, respecting virtues) like, everyone can also sell, passers-by a read down,
            that is blessing to all of these activities is to add enough festive atmosphere for the festival.
        </p>
        <video autoplay="autoplay" controls="controls">
            <source src="video/festival.mp4" type="video/mp4">
        </video>
        <h2>Qingming Festival</h2>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qingming Festival is an ancient festival of the Chinese nation. It is not only a solemn festival for sweeping tombs and worshiping ancestors,
            but also a festival for people to get close to nature, go outing and enjoy spring.Qingming Festival originated from ancestral belief and spring
            ritual in ancient times, is the most grand festival of the Chinese nation to worship ancestors. Tomb-sweeping Day has both natural
            and humanistic connotations. It is not only a natural solar term, but also a traditional festival. Tomb sweeping and ancestor worship and
            outing are the two main themes of Tomb-sweeping Day
        </p>
        <img src="/image/memory.jpg" class="img1">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qingming Festival in the historical development of the integration of the popular cold food Festival in the north of the fire, cold food customs.
            At the beginning of the Cold Food Festival, fireworks were forbidden and only cold food was eaten. In the development of later generations,
            the customs of tomb sweeping, swing, Cuju, pull hook, cock fighting and so on were gradually increased.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the Han Dynasty, the Cold Food Festival was called the anti-smoking Festival, because people were not allowed to carry fire on this day, and only in the evening, the candle was lit in the palace,
            and the flame was passed to the families of nobles and important officials.
        </p>
        <h2>The Mid-Autumn Festival</h2>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Mid-Autumn Festival originated in ancient times, popular in the Han Dynasty, stereotyped in the Tang Dynasty. The Mid-Autumn Festival is the synthesis of autumn seasonal customs,
            which contains the festival custom factors, mostly have ancient origins. As one of the important customs of folk festivals, moon worship has gradually evolved into activities such as
            moon appreciation and moon praise. The Mid-Autumn Festival to the moon round meanders reunion, as sustenance missing home, missing loved ones, hope for harvest, happiness,
            become a rich and colorful, precious cultural heritage.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The origin of the Mid-Autumn Festival and the moon inseparable, the Mid-Autumn Festival is the ancient celestial worship - respect the legacy of the moon custom. In the autumn equinox, is the ancient "festival".
            Offering to the moon is a very ancient custom in China, it is actually a kind of worship activity of ancient Chinese people to "moon god" in some places of ancient times. The Mid-Autumn Festival comes from the traditional "autumn equinox".
            In traditional culture, the moon and the sun, these two alternating celestial bodies became the object of worship of the ancestors.
        </p>
        <img src="/image/mid.jpg" class="img2">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In 2008, the Mid-Autumn Festival was listed as a national holiday.The Mid-Autumn Festival has also become a grand festival for Chinese across the world and across the Taiwan Straits to symbolize reunion</p>
    </div>
    <div class="content4">
        <div class="word1"><h4>Reference data :</h4></div>
        <div class="word2"><p>China Network (http://www.china.com.cn)</p></div>
    </div>
    <div class="content5">
        <ul>
            <li>Previous post :<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;Shui nationality</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next post :<a href="#">&nbsp;&nbsp;&nbsp;&nbsp;Jingpo nationality</a></li>
        </ul>
    </div>
</div>


      </div>

