@section css{
    <link rel="stylesheet" type="text/css" href="/static/literature.css">

}
<div class="content1">
    <div class="item1">
        <!-- <img src="/image/logo.jpg">  -->
        <div class="title1"><h1>Chinese traditional art</h1></div>
    </div>
    <div class="art">
        <div class="lunbo">
            <div class="art1">
                <ul>
                    <li class="item">
                        <a href=" "><img src="/image/dance1.jpg"></a>
                    </li>
                    <li class="item">
                        <a href="#"><img src="/image/dance2.jpg"></a>
                    </li>
                    <li class="item">
                        <a href="#"><img src="/image/dance3.jpg"></a>
                    </li>
                    <li class="item">
                        <a href="#"><img src="/image/dance4.jpg"></a>
                    </li>
                </ul>
                <div id="btn-left"><</div>
                <div id="btn-right">></div>
                <ul id="circle">
                    <li class="circle"></li>
                    <li class="circle"></li>
                    <li class="circle"></li>
                    <li class="circle"></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/static/literature.js"></script>
    <div class="intruduction">
        <ul>
            <li>
                <h2>National dance</h2>
                <p>
                    Every Spring Festival, coincides with the idle time of farming,
                    Han nationality folk song and dance activities immediately into
                    the most warm and solemn concentrated show period, year after year,
                    thriving, the ancient and new
                </p>
            </li>
            <li>
                <h2>National instrument</h2>
                <p>
                    Natural ecological environment and humanistic ecological environment,
                    including ethnic communication, production customs, festival celebrations,
                    language customs, folk beliefs, etc., have a great influence on the formation
                    and rise and fall of the art of the solitaire
                </p>
            </li>
        </ul>
    </div>

</div>
             </div>
<!--------------------content2-------------------------->
<div class="content2">
    <div class="item2">
        <img src="/image/logo.jpg">
        <div class="title2"><h1>Folk literature</h1></div>
    </div>
    <div class="folk">
        <img src="/image/folk1.jpg"><img src="/image/folk2.jpg">

        <div class="table-wrapper">
            <div class="table-item">
                <span class="table-title">the Miao Nationality</span>
                <span class="table-content">multi-voices Miao songs</span>
            </div>
            <div class="table-item">
                <span class="table-title">the Hui Nationality</span>
                <span class="table-content">banquet song</span>
            </div>
            <div class="table-item">
                <span class="table-title">the Dai Nationality</span>
                <span class="table-content"> ancient folk songs</span>
            </div>
            <div class="table-item">
                <span class="table-title">the Wa Nationality</span>
                <span class="table-content">the Wa people sing new songs</span>
            </div>
            <div class="table-item">
                <span class="table-title">the Bai Nationality</span>
                <span class="table-content">surnay</span>
            </div>
        </div>
    </div>

</div>

<!--------------------content3-------------------------->
<div class="content3">
    <div class="item3">
        <img src="/image/logo.jpg">
        <div class="title3"><h1>Filmography</h1></div>
    </div>
    <div class="film">
        <div class="block">
            <a href="/dcmz/wy/yszp/731604/index.html" target="_blank">
                <img src="/image/film1.jpg" class="pic6" />
            </a>
            <div class="word1">False line monk</div>
        </div>
        <div class="block">
            <a href="/dcmz/wy/yszp/731604/index.html" target="_blank">
                <img src="/image/film2.jpg" class="pic6" />
            </a>
            <div class="word2">Dance of youth</div>
        </div>
        <div class="block">
            <a href="/dcmz/wy/yszp/731604/index.html" target="_blank">
                <img src="/image/film3.jpg" class="pic6" />
            </a>
            <div class="word3">Loulan legend</div>
        </div>
        <div class="block">
            <a href="/dcmz/wy/yszp/731604/index.html" target="_blank">
                <img src="/image/film4.jpg" class="pic6" />
            </a>
            <div class="word4">Sounds of nature</div>
        </div>
    </div>


</div>

      </div>
