
@{
    ViewBag.Title = "museum";
}
 
@section css{
    <link rel="stylesheet" type="text/css" href="/static/museum.css">

}
<div class="content1">

    <div class="lunbo">
        <div class="art1">
            <ul>
                <li class="item">
                    <a href="#"><img src="https://img.dpm.org.cn/Uploads/Picture/2022/09/23/s632d791d3b319.jpg" alt=""></a>
                </li>
                <li class="item">
                    <a href="#"><img src="https://img.dpm.org.cn/Uploads/Picture/2022/10/19/s634f6638cc46e.jpg" alt="书房展"></a>
                </li>
                <li class="item">
                    <a href="#"><img src="https://img.dpm.org.cn/Uploads/Picture/2022/10/12/s6346105ce3793.jpg" alt="人物画第三期"></a>
                </li>
                <li class="item">
                    <a href="#"><img src="https://img.dpm.org.cn/Uploads/Picture/2022/08/17/s62fcaaa5ad5cf.jpg" alt="金玉满堂"></a>
                </li>
                <li class="item">
                    <a href="#"><img src="https://img.dpm.org.cn/Uploads/Picture/2021/08/25/s6125bd16da193.jpg" alt="陶瓷馆"></a>
                </li>
            </ul>
            <div id="btn-left"><</div>
            <div id="btn-right">></div>
            <ul id="circle">
                <li class="circle"></li>
                <li class="circle"></li>
                <li class="circle"></li>
                <li class="circle"></li>
                <li class="circle"></li>
            </ul>
        </div>
    </div>
</div>
<script src="/static/literature.js"></script>

   </div>





<!--------------------content2-------------------------->
<div class="content2">
    <div class="wrap">
        <div class="part1">
            <div>
                <div class="title">
                    <h2>
                        <span class="tit-span">
                            <img src="https://img.dpm.org.cn/Public/static/themes//image/public-icon3.png">
                        </span>
                        <span><a href="/learning/dynamic.html" target="_blank">Academic information</a></span>
                        <span class="tit-span">
                            <img src="https://img.dpm.org.cn/Public/static/themes//image/public-icon4.png">
                        </span>
                    </h2>
                </div>
            </div>

            <div class="context">
                <div class="img">
                    <img src="/image/museum1.jpg">
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <a href="#">
                                The Palace Museum Taihe visiting scholar fellowship programme
                                application announcement
                            </a>
                        </li>
                        <li><a href="#">To commemorate the 700th anniversary of the death of Zhao Mengfu</a></li>
                        <li><a href="#">The Palace Museum launches Taihe Scholars program</a></li>
                        <li><a href="#">The Palace Museum holds a forum for the Palace Museum research institute</a></li>
                        <li><a href="#">Review of cooperation and exchange between the Palace Museum and Peking University</a></li>
                        <li><a href="#">The Palace Museum was invited to attend"Ancient Characters and Chinese Civilization Inheritance and Development Project" work promotion meeting</a></li>
                    </ul>
                    <a href="#" class="more">
                        Read more
                        <i></i>
                    </a>
                </div>

            </div>

        </div>

        <!--------------------content3-------------------------->
        <div class="part2">
            <div>
                <div class="title">
                    <h2>
                        <span class="tit-span">
                            <img src="https://img.dpm.org.cn/Public/static/themes//image/public-icon3.png">
                        </span>
                        <span><a href="/learning/dynamic.html" target="_blank">The Palace Museum Research Institute</a></span>
                        <span class="tit-span">
                            <img src="https://img.dpm.org.cn/Public/static/themes//image/public-icon4.png">
                        </span>
                    </h2>
                </div>
            </div>
            <div class="Institute">
                <div class="institute1">
                    <div class="box1">
                        <div class="text1">
                            <h2>The Palace Museum research institute</h2>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Palace Museum Research Institute is a non-institutional institution for academic research and exchange set up by the Palace Museum.
                                It aims to create an "academic Palace Museum" and serves as a "safe Palace Museum".It guides academic development, formulates scientific
                                research plans, evaluates academic achievements, and realizes the sustainable development of the Palace Museum's academic research, personnel
                                training, academic publishing and international exchanges. It strives to become a national academic base and research center for major scientific
                                research projects.
                            </p>
                            <a target="_blank" href="/achaime/institute.html" class="link">
                                Read more
                                <div id="line0" style="position: absolute; inset: 0px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="120" height="35" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;">
                                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël</desc>
                                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                        <path fill="none" stroke="#ffffff" d="M0,5L5,5L5,0L115,0L115,5L120,5L120,30L115,30L115,35L5,35L5,30L0,30L0,5" stroke-width="2" stroke-dasharray="1000,1000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-width: 2;">

                                        </path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="box2">
                        <div class="text2">
                            <h2>Institution Building</h2>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Consists of the laboratory, the Forbidden City palace academic research institute, institute of archaeology and history of Ming and qing dynasty palace archives research institute,
                                research institute, institute of ancient buildings, ancient literature palace opera research institute, institute of production techniques of palace of bright qing dynasty,
                                wenbo research institute, calligraphy and painting research institute under the rule of law, ceramic research institute, institute of Tibetan buddhist relics such as 15 research institutes,
                                In addition, the Palace Museum postdoctoral research station.
                            </p>
                            <a target="_blank" href="/achaime/institute.html" class="link">
                                Read more
                                <div id="line0" style="position: absolute; inset: 0px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="120" height="35" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;">
                                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël</desc>
                                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                        <path fill="none" stroke="#ffffff" d="M0,5L5,5L5,0L115,0L115,5L120,5L120,30L115,30L115,35L5,35L5,30L0,30L0,5" stroke-width="2" stroke-dasharray="1000,1000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-width: 2;">

                                        </path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="institute2">
                    <div class="box3">
                        <div class="text3">
                            <h2>Scientific Payoffs</h2>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Since last year since the establishment of the institute of the imperial palace, with its academic vision, open innovation mechanism to accept the domestic and foreign academic circles academic talents,
                                eager to the Palace Museum and the court of the experts and scholars jointly build a high-end platform for academic research,
                                preliminary formed in the national Palace Museum covers a comprehensive, professional and outstanding and arrangement in complete academic team,
                                a series of important scientific research achievements.
                            </p>
                            <a target="_blank" href="/achaime/institute.html" class="link">
                                Read more
                                <div id="line0" style="position: absolute; inset: 0px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="120" height="35" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;">
                                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël</desc>
                                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                        <path fill="none" stroke="#ffffff" d="M0,5L5,5L5,0L115,0L115,5L120,5L120,30L115,30L115,35L5,35L5,30L0,30L0,5" stroke-width="2" stroke-dasharray="1000,1000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-width: 2;">

                                        </path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!--------------------content4-------------------------->
        <div class="part3">
            <div>
                <div class="title">
                    <h2>
                        <span class="tit-span">
                            <img src="https://img.dpm.org.cn/Public/static/themes//image/public-icon3.png">
                        </span>
                        <span><a href="/learning/dynamic.html" target="_blank">The Original State Exhibition</a></span>
                        <span class="tit-span">
                            <img src="https://img.dpm.org.cn/Public/static/themes//image/public-icon4.png">
                        </span>
                    </h2>
                </div>
            </div>
            <div class="exhibition">
                <div class="exhibition1">
                    <div class="block1">
                        <a target="_blank" href="/explore/building/236465.html" title="太和殿">
                            <img src="/image/exhibition1.jpg" class="pic1">
                        </a>
                        <div class="word1">
                            <h2>
                                Supreme Harmony
                            </h2>
                        </div>
                    </div>
                    <div class="block2">

                        <div class="word2">
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The furnishings in the original palace are selected and arranged in strict accordance with the historical records, striving to restore the original historical appearance,
                                so that the audience can truly feel the thick historical and cultural atmosphere. These exquisite cultural relics, together with the ancient buildings that have experienced vicissitudes of life,
                                containing rich historical information and cultural connotation,
                                and vividly show the palace culture to the world.
                            </p>
                        </div>
                    </div>
                    <div class="block3">
                        <a target="_blank" href="/explore/building/236465.html" title="太和殿">
                            <img src="/image/exhibition2.jpg" class="pic2">
                        </a>
                        <div class="word3">
                            <h2>
                                Preserving Harmony
                            </h2>
                        </div>
                    </div>
                    <div class="block4">
                        <a target="_blank" href="/explore/building/236465.html" title="太和殿">
                            <img src="/image/exhibition3.jpg">
                        </a>
                        <div class="word4">
                            <h2>
                                Complete Harmony
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--------------------content4-------------------------->
        <div class="part4">
            <div>
                <div class="title">
                    <h2>
                        <span class="tit-span">
                            <img src="https://img.dpm.org.cn/Public/static/themes//image/public-icon3.png">
                        </span>
                        <span><a href="/learning/dynamic.html" target="_blank">Traffic Route</a></span>
                        <span class="tit-span">
                            <img src="https://img.dpm.org.cn/Public/static/themes//image/public-icon4.png">
                        </span>
                    </h2>
                </div>
            </div>
            <div class="route">
                <div id="map">
                    <script type="text/javascript" src="/static/map.js"></script>
                </div>
                <div class="traffic">
                    <div class="introduction">
                        <ul>
                            <li>
                                <h3>Meridian Gate (the south gate of the Palace Museum, as of July 2, 2011, the entrance is for spectators only)</h3>
                                <p>
                                    From Donghua Gate or Xihua Gate along the east, West Tongzihe Road can be reached.
                                    <br>From Tian 'anmen Gate to Meridian Gate via Duanmen Gate: Tuesday to Sunday,8:00-16:00; Closed Mondays are not passable all day.
                                    The actual opening is subject to the site announcement.
                                </p>
                            </li>
                            <li>
                                <h3>Public transport station around Meridian Gate: Tian 'anmen East</h3>
                                <p>Bus stops :1, 120, 2, 52, 82, night 1, Sightseeing Line 1, sightseeing Line 2 bus and subway line 1</p>
                            </li>
                            <li>
                                <h3>Public transport station around Meridian Gate: Tian 'anmen West</h3>
                                <p>Bus stops :1, 5, 52, Night 1, Sightseeing Line 1, sightseeing Line 2 bus and subway line 1</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




        </div>



    </div>
</div>
      </div>

