
@{
    ViewBag.Title = "places";
}
@section css{
    <link rel="stylesheet" type="text/css" href="/static/places.css">

}
<div class="content1">
    <div class="item1">
        <img src="/image/logo.jpg">
        <div class="title1"><h1>Places of interest</h1></div>
    </div>
    <div class="places1">
        <div class="block1">
            <a target="_blank" href="museum.html">
                <img src="/image/places1.jpg" class="pic1">
            </a>
            <div class="word1">
                <h2>
                    The Palace Museum
                </h2>
            </div>
        </div>
        <div class="block2">

            <div class="wenzi">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;China is one of the oldest civilized countries in the world, with many places of interest.
                    Walking in these famous mountains and rivers, on the one hand, you can appreciate the great
                    rivers and mountains of the motherland, on the other hand, you can feel the profound history
                    and culture of the motherland.With five thousand years of cultural heritage, China has become a
                    wonderful flower in the world.There're many famous scenic spots and historical sites in Beijing.
                </p>
            </div>
        </div>
        <div class="block3">
            <a target="_blank" href="/explore/building/236465.html">
                <img src="/image/places2.jpg" class="pic2">
            </a>
            <div class="word3">
                <h2>
                    The Great Wall
                </h2>
            </div>
        </div>
        <div class="block4">
            <a target="_blank" href="/explore/building/236465.html">
                <img src="/image/places3.jpg">
            </a>
            <div class="word4">
                <h2>
                    Temple of Heaven
                </h2>
            </div>
        </div>
        <div class="block5">
            <a target="_blank" href="/explore/building/236465.html">
                <img src="/image/places4.jpg">
            </a>
            <div class="word5">
                <h2>
                    The Summer Palace
                </h2>
            </div>
        </div>
    </div>

</div>



<!--------------------content2-------------------------->
<div class="content2">

    <nav class="box1">
        <div class="item2">
            <img src="/image/logo.jpg">
            <div class="title2"><h1>Four seasons</h1></div>
        </div>
        <div class="season">
            <div class="art">
                <img src="/image/spring.jpg" alt="" />
                <a href=" " class="artInfoBox" target="_blank">
                    <div class="artBg"></div>
                    <div class="artMsg">
                        <p class="artTitle" style="font-size: 25px;">Spring</p>
                    </div>
                </a>
            </div>
            <div class="art">
                <img src="/image/summer.jpg" alt="" />
                <a href=" " class="artInfoBox" target="_blank">
                    <div class="artBg"></div>
                    <div class="artMsg">
                        <p class="artTitle" style="font-size: 25px;">Summer</p>
                    </div>
                </a>
            </div>
            <div class="art">
                <img src="/image/autumn.jpg" alt="" />
                <a href=" " class="artInfoBox" target="_blank">
                    <div class="artBg"></div>
                    <div class="artMsg">
                        <p class="artTitle" style="font-size: 25px;">Autumn</p>
                    </div>
                </a>
            </div>
            <div class="art">
                <img src="/image/winter.jpg" alt="" />
                <a href=" " class="artInfoBox" target="_blank">
                    <div class="artBg"></div>
                    <div class="artMsg">
                        <p class="artTitle" style="font-size: 25px;">Winter</p>
                    </div>
                </a>
            </div>

        </div>
    </nav>




</div>

<!--------------------content3-------------------------->
<div class="content3">

    <nav class="box2">
        <div class="item3">
            <img src="/image/logo.jpg">
            <div class="title3"><h1>Cultural relics and historic sites</h1></div>
        </div>
        <div class="relic1">
            <div class="block">
                <img src="/image/relic1.jpg" class="pic6" />
                <div class="word1"><p>Shui nationality</p></div>
            </div>
            <div class="block">
                <img src="/image/relic2.jpg" class="pic6" />
                <div class="word2"><p>Han nationality</p></div>
            </div>
            <div class="block">
                <img src="/image/relic3.jpg" class="pic6" />
                <div class="word3"><p>Jingpo nationality</p></div>
            </div>
            <div class="block">
                <img src="/image/relic4.jpg" class="pic6" />
                <div class="word4"><p>Maonan nationality</p></div>
            </div>
        </div>
        <div class="relic2">
            <div class="block">
                <img src="/image/relic5.jpg" class="pic6" />
                <div class="word1"><p>Shui nationality</p></div>
            </div>
            <div class="block">
                <img src="/image/relic6.jpg" class="pic6" />
                <div class="word2"><p>Han nationality</p></div>
            </div>
            <div class="block">
                <img src="/image/relic7.jpg" class="pic6" />
                <div class="word3"><p>Jingpo nationality</p></div>
            </div>
            <div class="block">
                <img src="/image/relic8.jpg" class="pic6" />
                <div class="word4"><p>Maonan nationality</p></div>
            </div>
        </div>
    </nav>


</div>
<!--------------------content4-------------------------->
<div class="content4">
    <div class="item4">
        <img src="/image/logo.jpg">
        <div class="title4"><h1>National customs</h1></div>
    </div>

    <div class="custom">
        <div class="list1">
            <ul>
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Keung mountain</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Time in Kashgar</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> The prairie song</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Damba in Purdah</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Diqing Prefecture</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Mind ranch and generous in Bahrain</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Beichuan rural tourism</p></a></li>
                <hr class="line">
            </ul>
        </div>
        <div class="list2">
            <ul>
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> The culture of the Jing people in Guangxi</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Hmong village</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Three Rivers Basin in Yunnan Province</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> A slow life to aspire</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> A home stay facility in Lhasa</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> Colorful Yunnan</p></a></li>
                <hr class="line">
                <li><a href="#" target="_blank"><p><span class="fa fa-circle"> </span> The folk song culture</p></a></li>
                <hr class="line">
            </ul>
        </div>

    </div>


</div>

      </div>

